{% extends 'base.html' %}

{% block css %}
  <style media="screen">
    strong {
      font-size: 26px;
    }
    button {
      float: right;
    }
    div.well {
      padding: 25px;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="row">
      {% for x in category %}
      <div class="col-md-4">
        <div class="well well-sm">
          <strong><a href="{% url 'category_detail_view' x.id %}">{{ x }}</a></strong>
          <button class="btn btn-primary btn-sm">Item Count: <span class="badge">{{ x.get_count }}</span></button>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
