{% extends 'base.html' %}

{% block css %}
  <style media="screen">
    #price {
      font-size: 20px;
    }
    #comment {
      font-size: 32px;
    }
    #reply {
      font-size: 24px;
    }
    #user {
      font-size: 14px;
    }
    #time {
      font-size: 14px;
    }
    #avatar {
      max-height: 55px;
      max-width: 55px;
    }
    #posted {
      font-size: 24px;
    }
  </style>
{% endblock %}

{% block content %}
<br><br>
  <div class="row">
    <div class="col-md-6">
      <h1>{{ item }}</h1>
      <img src="{{ MEDIA_URL}}{{ item.image_url }}" class='rounded mx-auto d-block' alt="Picture of {{ item.name }}" /> <br>
      <p>
        {{ item.description }} <br>
        {% if item.price %}
          <strong id="price">Looking for <i><u>${{ item.price|floatformat:2 }}</u></i></strong>
        {% endif %}
      </p>
      <hr>
      <b><i id="posted">By: <a href="{% url 'profile_detail_view' item.user.id %}">{{ item.user }}</a></i></b><br>
      <b><i id="posted">Posted On: {{ item.time_added }}</i></b>
    </div>
    <div class="col-md-6 ">
      <br><br>
      <form class="" action="{% url 'comment_create_view' item.id %}" method="post">
        {% csrf_token %}
        <textarea name="comment" rows="20" cols="65"></textarea>
        <input type="submit" name="" value="Comment!">
      </form>
      <br>
    </div>
    {% for comment in item.get_comment %}
      <div class="col-md-6 col-md-offset-6">
        <a href="{% url 'profile_detail_view' comment.user.id %}"><img id="avatar" src="{{ MEDIA_URL}}{{ comment.user.profile.image_url }}" class="img-circle" alt=""></a>
        <a id="user" href="{% url 'profile_detail_view' comment.user.id %}">{{ comment.user }}</a> |
        <i id="time">{{ comment.time }}</i>
        <br>
        <strong id="comment">{{ comment.comment }}</strong>
        {% if request.user == comment.user %}
          <a href="{% url 'comment_update_view' comment.id %}">Update</a>
        {% endif %}<br><br>
        <button class="accordion">Reply</button>
        <div class="panel">
          <p>
            <form class="" action="{% url 'reply_create_view' comment.id %}" method="post">
              {% csrf_token %}
              <textarea name="reply" rows="4" cols="35"></textarea>
              <input type="submit" name="" value="Reply!">
            </form>
          </p>
        </div>
          {% for reply in comment.get_reply %}
            <blockquote>
              <a href="{% url 'profile_detail_view' comment.user.id %}"><img id="avatar" src="{{ MEDIA_URL}}{{ comment.user.profile.image_url }}" class="img-circle" alt=""></a>
              <a id="user" href="{% url 'profile_detail_view' reply.user.id %}">{{ reply.user }}</a> |
              <i id="time">{{ reply.time }}</i> <br>
              <strong id="reply">{{ reply.reply }}</strong>
              {% if request.user == reply.user %}
                <a href="{% url 'reply_update_view' reply.id %}">Update</a>
              {% endif %}
            </blockquote>
          {% endfor %}
      </div>
    </div>

    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight){
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        }
      }
      </script>
  {% endfor %}
{% endblock %}
