{% extends 'base.html' %}

{% block content %}
<br><br>
  <div class="">
    <h1>{{ item }}</h1>
    <img src="{{ MEDIA_URL}}{{ item.image_url }}" class='rounded mx-auto d-block' alt="Picture of {{ item.name }}" /> <br>
    <blockquote>
      {{ item.description }} <br>
      {% if item.price == 'True' %}
        ${{ item.price }}
      {% else %}
        There is no price
      {% endif %}
    </blockquote>
    <hr>
    <b><i>By: {{ item.user }}</i></b><br>
    <b><i>Posted On: {{ item.time_added }}</i></b>
  </div>
{% endblock %}
