{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <h1>If you have any questions or concerns, PLEASE let me know!</h1>

    <form id="email" action="{% url 'send_mail' %}" method="post">
      {% csrf_token %}
      {{ form.sender|attr:"placeholder:Enter Your Email"|attr:"type:email" }} <br><br>
      {{ form.message|add_class:"materialize-textarea"|attr:"placeholder:What is your Question/Concern?" }} <br>
      <button type="submit" class="btn btn-success btn-lg" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Sending Message">Submit</button>
    </form>

    <script>
    $('.btn').on('click', function() {
      var $this = $(this);
      $this.button('loading');
      // setTimeout(function() {
      //   window.location.href = "{% url 'category_list_view' %}";
      // }, 2000);
    });
    </script>
{% endblock %}
